
.header-container{
    text-align: center;
    background-color: #e692d299;
    padding: 0;
    border: inset rgb(238, 103, 250) 5px;
    border-radius: 30px ;
}

.header-container h1 {
    display: inline-block;
    color: #b41d87;
    font-size: 80px;
    font-family: sans-serif, Times, serif, Times, serif;
    font-weight: 800;
   letter-spacing: 5px;
}
.left-header{
    justify-content: left;
}

main{
    margin: 50px  auto;
  display: flex;
  background-color: #e692d299;
  border: inset  rgb(238, 103, 250)  5px;
  border-radius: 50px;
  width: 80%;
  height: 1000px;
  justify-content: center;
}
 .header-container:hover {
       border: outset rgb(238, 103, 250) 10px; 
      
}
h1:hover{
    color: #90597f;
}
body{
    background-image: linear-gradient(to right top, #ef2d57, #f7306f, #fc3888, #fd44a2, #fb52bb, #fa52bb, #f853ba, #f753ba, #f646a1, #f13a88, #ea3270, #e02d59);
    
}
main h1{
    color: #edaee0;
}




