
.header-container{
    text-align: center;
    background-color: #e692d2;
    padding: 30PX;
    display: flex;
    flex-direction: row;
    gap: 30%;
    justify-content: center;
    border-bottom: 10px solid #c9b0ee;
   
}
.header-container div{
    width: 80px;
    height: 100px;
    background-color: #a52ccd;
    max-width: 100%;
    display: inline-block;
    
}
.header-container h1 {
    display: inline-block;
    color: #d054ab;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.left-header{
    justify-content: left;
}
.Scontainer{
    background-color: #281dcb88;
}
main{
   height: 500px;
    width: 50%;
}
body{
    background-image: url(https://www.google.co.za/url?sa=i&url=https%3A%2F%2Fwallpapercg.com%2Fwomens-day-wallpapers&psig=AOvVaw2bCDVQy92-DHrm3k0LdL2w&ust=1726843263632000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJCe59aez4gDFQAAAAAdAAAAABAE);
}


