
.header-container{
    text-align: center;
    background-color: #e692d299;
    padding: 0;
    border: inset rgb(238, 103, 250) 5px;
    border-radius: 30px ;
    width: 100%;
    height: 200px;
}

.header-container  {
    display: inline-block;
    color: #b41d87;
    font-size: 80px;
    font-family: sans-serif, Times, serif, Times, serif;
    font-weight: 800;
   letter-spacing: 5px;
}


main{
    margin: 50px  auto;
  display: flex;
  background-color: #e692d299;
  border: inset  rgb(238, 103, 250)  5px;
  border-radius: 50px;
  width: 80%;
  height: 1000px;
  justify-content: center;
}
 .header-container:hover {
       border: outset rgb(238, 103, 250) 10px; 
      
}
.header-container:hover{
    color: #90597f;
}
body{
    background-image: linear-gradient(to right top, #ef2d57, #f7306f, #fc3888, #fd44a2, #fb52bb, #fa52bb, #f853ba, #f753ba, #f646a1, #f13a88, #ea3270, #e02d59);
    
}
main h1{
    color: #edaee0;
}
header p{
    font-weight: 400;
    text-align: center;
    color: #edaee0;
}
footer{
    background-color: #906081;
    height: 150px;
    padding: 0;
}
footer div{
    display: inline-block;
    margin: 0;
    
}
.about-section{
    background-color: #8e57adaa;
    width: 69%;
    height: 100%;
}
.contact{
    background-color: #edaee0;
    width: 30%;
    height: 100%;
}



